<section class="customers cf">
    <section class="logos cf">
        <a href="https://bluesafety.com"><img src="/assets/images/about/blue_safety@2x.png"></a>
        <a href="http://ercis.org"><img src="/assets/images/about/ercis@2x.png"></a>
        <a href="http://www.pa-konzepte.de"><img src="/assets/images/about/pa@2x.png"></a>
        <a href="http://www.xd-i.comn"><img src="/assets/images/about/xdi@2x.png"></a>
        <a href="https://www.wiwi.uni-muenster.de/fakultaet/en"><img src="/assets/images/about/wiwi@2x.png"></a>
        <a href="http://www.volkerbetzing.de"><img src="/assets/images/about/ra@2x.png"></a>
    </section>
</section>

